.filter {
  width: 8%;
  height: 7%;
  display: flex;
  position: absolute;
  background-color: #0f0999;
  border-radius: 15px;
  top: 35%;
  left: 46%;
  justify-content: center;
  align-items: center;
}
