.contaminant-box {
  display: flex;
  padding: 2em;
  position: fixed;
  width: 12%;
  height: 14%;
  top: 50%;
  left: 44%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: #162325;
}

.contaminants {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #162325;
}
