.contaminant-box {
  display: flex;
  padding: 2em;
  position: fixed;
  width: 200px;
  height: 14%;
  top: 60%;
  left: 44%;
  align-items: center;
  justify-content: center;
  background-color: #313131;
}

.contaminants {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #313131;
}
